.formCart {
  display: flex;

  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 100px;
  /* border: 2px dotted red; */
}

.checkout {
  all: unset;
  position: relative;
  /* border: 2px dotted red; */
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;

  box-shadow: 0px 2px 5px #000;
  margin-right: 20px;
}

.checkout input {
  background: #eae8e8;
}
legend {
  margin-top: 9px;
}

.pix {
  fill: rgb(62, 154, 113);
}

.card {
  fill: rgb(110, 109, 102);
}

.paypal {
  fill: #1a3952;
}

#submit {
  all: unset;
  background: linear-gradient(to right, #521a23 6%, #770303 100%);
  color: #fff;
  font-size: 1em;
  border: none;
  text-align: center;
  border-radius: 4px;
  padding: 13px;
  width: 350px;
  font-size: 1.1em;
  justify-content: center;
  cursor: pointer;
}

#submit:hover {
  background: #952424;
}
.cartInfo {
  margin-bottom: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.cartInfo p {
  font-size: 0.9em;
  font-weight: 800;
  font-family: "Poppins";
}

.method {
  margin-top: 20px !important;
  font-size: 1em;
  margin: unset;
  margin-bottom: 15px;
}

.method input {
  cursor: pointer;
  color: #521a23;
}

.field {
  margin: unset;
  margin-bottom: 20px;
}

.field p {
  font-size: 0.8em;
}

.carousel {
  width: 100px;
}

.divider {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #521a23;
  padding-left: 20px;
  width: 400px;
  height: 300px;
}

.photo2 {
  height: 300px;
  width: 400px;
}

.photo2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left,
.right {
  padding: 8px;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s ease-in-out;
  border-radius: 8px;
}

.right:hover,
.left:hover {
  background: rgb(100, 12, 12, 0.6);
}

.test {
  background: #521a23;
  /* padding: 20px; */
  position: relative;
  top: 30px;
  z-index: 40;
}

.test svg {
  width: 25px;
  border-radius: 5px;
  background: #521a23;
  fill: #521a23;
}

.success {
  position: absolute;
  top: 20%;
  background: linear-gradient(to right, #080808 6%, #7c7373 100%);
  padding: 20px;
  text-align: center;
  width: 400px;
  color: #fff;
  border-radius: 10px;
  z-index: 4;
  animation: success 0.5s linear;
  /* transition: ease-in-out; */
}

@keyframes success {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.success svg {
  margin-top: 10px;
  font-size: 2rem;
}

@media screen and (max-width: 912px) {
  .formCart {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 100px 0px 200px 20px;
  }
  .divider {
    margin-top: 100px;
    width: 90%;
  }
  #submit {
    width: 90%;
  }
  .photo2 {
    /* width: 100%; */
  }
  .photo2 img {
    width: 100%;
  }
}
