/* #000000, #FFFFFF, #B0251F, #EB362E */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

main {
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 1920px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card {
  /* display: flex; */
  /* max-width: 500px; */
  /* position: relative; */
}

#hero {
  position: fixed;
  top: -8rem;
  width: 100%;
  max-width: 50vh;
  object-fit: cover;
  max-width: 1920px;
}

/* .card img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 10vh;
  left: 0;
  top: -10rem;
  z-index: -3;
} */

.container {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 18rem;
  /* border: 2px dotted red; */

  align-items: center;

  max-width: 1000px;
  position: relative;
  top: 5rem;
}
.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 500px; */
  background: 2px solid red;
  align-self: center;
  /* position: absolute; */
  z-index: 1;
}

.discover p {
  color: #fff;
  margin-bottom: 5px;
}
.discover h1 {
  font-size: 3.4em;
  margin: 0;
  font-weight: larger;
  color: #fff;
}

.discover div {
  display: flex;
}

.discover button {
  background: transparent;
  outline: none;
  border: 1.4px solid #fff;
  color: #fff;
  margin-top: 50px;
  padding: 15px;
  margin-right: 20px;
  width: 80%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.discover a {
  width: 100%;
}

.discover button:hover {
  background: #fff;
  color: #000;
}

section {
  display: flex;
}

.get form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(5px);
  background: rgb(3, 3, 3, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 3px #fff;
  width: 300px;
  height: 290px;
}

.get form button {
  margin-top: 20px;
  background: #c20f2a;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 30px;
}

.get form button:hover {
  background: #d8213c;
}

.get form select {
  background: transparent;
  color: #fff;
  padding: 5px;
  outline: none;
  cursor: pointer;
}
.get form select:focus {
  background: rgb(3, 3, 3, 0.7);

  /* Set the background of the options to transparent */
}
.get form option {
  font-size: 1em;
}

.get form p {
  color: #fff;
  margin: 5px;
}

.get form h1 {
  margin-bottom: 1.3rem;
  color: #fff;
}

.body {
  /* border: 2px solid red; */
  margin: 0 auto;
  position: relative;
  /* margin-top: 15em; */

  padding: 0 15rem 0 15rem;

  background: #fff;
  height: 100%;
  /* padding-bottom: 50px; */
}

.body h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.divisor {
  display: flex;
  margin: 0 auto;
}

.divisor h4 {
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.divisor div {
  border: 1px solid #888888;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
  padding: 19px;
}

#span {
  text-decoration: none;
  margin-top: 100vh;
  color: #000;
}

.secondsection {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 30px; */
  /* border: 1px solid red; */
  padding-bottom: 100px;
}

.secondsection button {
  background: #fff;
  outline: none;
  border: 1px solid #000;
  color: #000;
  padding: 15px;
  margin-top: 1rem;
  width: 35%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.secondsection button:hover {
  background: #000;
  color: #fff;
}

.secondsection h3 {
  font-size: 2em;
  font-family: "Poppins";
}

.secondsection p {
  font-family: "Poppins";
  font-size: 0.9em;
}

.secondsection div {
  max-width: 800px;
  height: 400px;
  width: 100%;
}

.side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#loading {
  animation: loading 2.3s infinite;
  position: relative;
  top: 200px;
  width: 200px;
  left: 40%;
  z-index: 5;
  margin-bottom: 400px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg) translateX(100px);
  }
  40% {
    transform: rotate(720deg) translateX(110px) scale(2);
  }
  60% {
    transform: rotate(1080deg);
  }
  80% {
    transform: rotate(1440deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media screen and (max-width: 900px) {
  #loading {
    left: 25%;
  }
  header {
    /* display: none; */
  }

  .container {
    display: flex;
    flex-direction: column;
    /* display: none; */
    /* width: 50%; */
    /* margin: 0 auto !important; */
    width: 100%;
  }
  .discover {
    /* width: 100%; */
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .discover div {
    justify-content: center;
  }
  .container .discover {
    margin: 0;
  }
  #hero {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    top: 2rem;
    object-fit: cover;
  }
  .container form {
    display: none;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .body h1 {
    margin: 0;
    font-size: 2em;
  }

  .divisor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .divisor h1 {
    font-size: 1em;
  }
  .divisor div {
    padding: 0;

    display: flex;
    margin: 20px;
    padding: 20px;
    width: 80%;
    margin: 10px auto;
  }
  .secondsection {
    flex-direction: column;
    width: 100%;

    justify-content: end;
  }

  .secondsection div {
    all: unset;
    max-width: 100vw;
    height: 50vh;
    padding: 20px;
  }
  .secondsection img {
    /* display: none; */
    width: 100%;
    margin: 0;
  }
  .side {
    max-width: 100%;
    width: 100%;
  }
  .secondsection button {
    width: 100%;
    padding: 20px;
  }
}
