header {
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  backdrop-filter: blur(100px);
  position: fixed;
  width: 99%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.37s ease-in-out;
}

header button {
  background: transparent;
  outline: none;
  border: 1.4px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

header img {
  position: absolute;
  width: 130px;
  height: 130px;
  /* border: 2px solid #fff; */
  margin: 0;
  padding: 0;
  top: -1.5rem;
  border-radius: 100%;
  padding: 0;
  /* box-shadow: 2px 2px 5px #fff; */
}

header button:hover {
  background: #fff;
  color: #000;
}

header svg {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

header nav ul {
  list-style: none;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #e8e6e6;
  position: relative;
  font-size: 1.1em;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  background: #fff;
  color: #fff;
  height: 2px;
  width: 0;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s;
}

.cart {
  position: relative;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: -10px;
  font-size: 0.8em;
  border: 3px solid #521a23;
  background: #fff;
  color: #521a23;
  padding: 4px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

nav ul li a:hover {
  color: #fff;
}

.navbar ul li a:hover::after {
  color: #fff;
  width: 100%;
}

header.active {
  background: #000;
  border: none;
}

.cart {
  margin-right: 2rem;
  position: relative;
}

.cart-open {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 70%;
  top: 90%;
  background: #0d0c0c;
  overflow: hidden;
  /* height: 400px; */
  width: 250px;
  /* border: 2px dotted red; */

  box-shadow: 2px 2px 5px #000;
  border-radius: 10px;
  padding: 10px;
}
#go-to-cart {
  border: none;
  background: linear-gradient(to right, #212121 6%, #0d0c0c 100%);
}

#cancel {
  border: none;
  background: linear-gradient(to right, #c9c9c9 6%, #cec4c4 100%);
}
