header {
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  backdrop-filter: blur(100px);
  position: fixed;
  width: 99%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.37s ease-in-out;
}

header button {
  background: transparent;
  outline: none;
  border: 1.4px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#logo {
  position: absolute;
  width: 130px;
  height: 130px;
  /* border: 2px solid #fff; */
  margin: 0;
  padding: 0;
  top: -1.5rem;
  border-radius: 100%;
  padding: 0;
  /* box-shadow: 2px 2px 5px #fff; */
}

header button:hover {
  background: #fff;
  color: #000;
}

header svg {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

header nav ul {
  list-style: none;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #e8e6e6;
  position: relative;
  font-size: 1.1em;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  background: #fff;
  color: #fff;
  height: 2px;
  width: 0;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s;
}

.cart {
  position: relative;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: -10px;
  font-size: 0.8em;
  border: 3px solid #521a23;
  background: #fff;
  color: #521a23;
  padding: 4px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

nav ul li a:hover {
  color: #fff;
}

.navbar ul li a:hover::after {
  color: #fff;
  width: 100%;
}

header.active {
  background: #000;
  border: none;
}

.cart {
  margin-right: 2rem;
  position: relative;
}

.cart-open {
  all: unset;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;

  right: 70%;
  top: 90%;
  background: #0d0c0c;
  background: #fafafa;
  overflow: hidden;
  height: auto;
  width: 250px;
  /* border: 2px dotted red; */

  box-shadow: 2px 2px 5px #000;
  border-radius: 10px;
  padding: 10px;
}

.star {
  color: #521a23 !important;
  font-size: 1.3rem;
}

.price-info p:first-child {
  margin-top: 5px;
  font-size: 1.1rem;
}

.car-price {
  color: #521a23 !important;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-bottom: 10px;
}

.start span {
  font-size: 0.8rem;
}

.roses {
  max-width: 250px;
}

.roses img {
  width: 100%;
}

.price-info p,
.car-espec p {
  color: #000;
}

#go-to-checkout {
  border: none;
  background: linear-gradient(to right, #c20f2a 6%, #830909 100%);
  width: 100%;
  margin-bottom: 10px;
  transition: none;
  padding-left: 30px;
}

#go-to-checkout:hover {
  color: #fff !important;
  background: #ca243d;
}

#go-to-cart {
  border: none;
  width: 100%;
  padding-left: 30px;
  background: linear-gradient(to right, #9d9c9c 6%, #bcbcbc 100%);
}

#go-to-cart span,
#go-to-checkout span {
  margin-left: 3px;
}

.no-items p {
  color: #0d0c0c;
  margin: 20px;
  text-align: center;
}

#menu {
  display: none;
}

.mobNav {
  position: absolute;
  right: 0%;
  top: 90%;
  background: #000000;
  box-shadow: 2px 2px 5px #000;
  width: 100%;
  /* height: 200px; */
  display: none;
  justify-items: center;
  z-index: 1;
}

.mobNav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.mobNav li {
  border-bottom: 2px solid rgb(10, 10, 10);
  width: 100%;
  /* height: 100px; */
}

.mobNav a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1.3px solid #521a23;
  padding: 5px;
}

.mobNav li a:hover {
  color: #000;
}

.mobNav.active {
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  #explore {
    display: none;
  }
  .cart {
    display: flex;
    margin-right: 10px;
    align-items: center;
  }
  #logo {
    top: -15%;
    left: 0;
    width: 90px;
    height: 90px;
  }
  #menu {
    display: flex;
    font-size: 2rem;
    font-weight: 800;
  }
}
